<% layout("/layouts/boilerplate") %>

<body>
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Edit your listing</h3>
            <form method="post" action="/listing/<%=listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required>
                    <div class="valid-feedback">Title looking good</div>
                    <div class="invalid-feedback">Title is required</div>
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                    <div class="invalid-feedback">please enter short description</div>
                </div>
                <div class="mb-3">
                    <h5>Original image</h5>
                    <img src="<%=listing.image.url %>" style="height: 200px;">
                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">Upload New Image</label>
                    <input name="listing[image]" type="file" class="form-control" required>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="title" class="form-label">Price</label>
                        <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
                        <div class="invalid-feedback">please a valid price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="title" class="form-label">Country</label>
                        <input name="listing[country]" value="<%= listing.country %>" type="text" class="form-control" required>
                        <div class="invalid-feedback">country is required</div>
                    </div>

                </div>
                <div class="mb-3">
                    <label for="title" class="form-label">location</label>
                    <input name="listing[location]" value="<%= listing.location %>" type="text" class="form-control" required>
                    <div class="invalid-feedback">please enter location</div>
                </div>
                
                <button class="btn btn-dark mb-2">Submit</button>
            </form>
        </div>
    </div>
</body>